body {
  background-color: black;
  align-content: center;
}

.head {
  height: 50px;
  width: 200px;
  margin: 0 auto;
  align-content: center;
}

#title {
  color: lime;
  font-family: "Courier New", Monospace;
  text-align: center;
  padding: 0 0 10px 0;
}

.main {
  background-color: black;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  width: 250px;
  border: 3px dotted lime;
}

label {
  color: lime;
  font-family: "Courier New", Monospace;
}

#nickname, #email, #password,#password2, #date {
  background-color: black;
  color: lime;
  width: 245px;
  height: 20px;
  border: 1px solid lime;
  margin: 0 0 5px 0;
  
}

.p {
  color: lime;
  font-family: "Courier New", Monospace;
}

#check {
  color: lime;
  margin: 30px 0 0 0;
}

#line {
  color: lime;
}

#button {
  margin: 10px 0 0 0;
  font-family: "Courier New", Monospace;
  width: 245px;
  height: 30px;
  background: lime;
  font-weight: bold;
  font-size: 25px;
  color: black;
  border: none;
}